#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper{
  display: flex;
  border: solid whitesmoke 5px;
  border-radius: 10px;
}

.grid-containera-info{
  margin: 5px 50px 5px 0px;
  width: fit-content;
}

.inputs{
  display: grid;
  margin: 5px;
}

.from{
  margin-top: 5px;
}

.to{
  margin-top: 5px;
}

.subject{
  margin-top: 5px;
}

#notification{
  display: flex;
  margin: 5px 50px;
}

#count{
  position: relative;
  right: 25px;
  top: 17px;
}

.amount{
  position: relative;
  right: 50px;
}

.button-amount1{
  position: relative;
  right: 5px;
  height: 20px;
  top: 20px;
}

.button-amount2{
  position: relative;
  left: 5px;
  height: 20px;
  top: 20px;
}

.context {
  height: 70px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.callender{
  margin: 5px 50px 5px 0px;
  width: fit-content;
}

#send{
}

#upload{
  width: 25%;
  right: 210px;
  bottom: 210px;
}

#fileInput{
  width: 60%;
}

.upload-btn{
  border: solid green 5px;
}

#datalist{
  height: fit-content;
}


#browser{
  margin-left: 5px;
  margin-right: 5px;
}