#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper{
  display: flex;
  border: solid whitesmoke 5px;
  border-radius: 10px;
}

.grid-containera-info{
  margin: 5px 50px 5px 0px;
  width: fit-content;
}

.inputs{
  display: grid;
  margin: 5px;
}

.from{
  margin-top: 5px;
}

.to{
  margin-top: 5px;
}

.subject{
  margin-top: 5px;
}

#notification{
  display: flex;
  margin: 5px 50px;
}

#count{
  position: relative;
  right: 25px;
  top: 17px;
}

.amount{
  position: relative;
  right: 50px;
}

.button-amount1{
  position: relative;
  right: 5px;
  height: 20px;
  top: 20px;
}

.button-amount2{
  position: relative;
  left: 5px;
  height: 20px;
  top: 20px;
}

.context {
  height: 70px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.callender{
  margin: 5px 50px 5px 0px;
  width: fit-content;
}

#send{
  border: none;
  border-radius: 10px;
  background-color: blueviolet;
  height: 2rem;
  width: 5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transform: 0.2s ease;
}

#send:hover{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.541);
}

#send:active{
  box-shadow: 0 2px rgb(90, 90, 90);
  transform: 0.1s ease;
}

#upload{
  width: 100%;
  right: 210px;
  bottom: 210px;
}

#fileInput{
  width: 60%;
}

.upload-btn{
  border: solid green 5px;
}

#datalist{
  height: fit-content;
  width: 100%;
}


#browser{
  margin-left: 5px;
  margin-right: 5px;
}