#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper{
  border: solid red 5px;
  display: flex;
}

.grid-containera-info{
  border: solid white 5px;
  margin: 5px 50px 5px 0px;
}

.input{
  display: grid;
  margin: 5px;
}

.ButtonDiv{
  display: flex;
  margin: 0px auto;
  align-items: space-around;
}